<div class="nav-container">
    <div class="nav-list">
        <div class="list-title">
            <h3>Liste de rendez-vous recent</h3>
            <span class="underline"></span>
        </div>

        <div class="list">
            <div class="list-box">
                <div class="list-circle-name">
                    <p>md</p>
                </div>
                <div class="list-text">
                    <h4>Michael Doe</h4>
                    <span class="date">pris le, 14-01, 05 : 17</span>
                </div>
            </div>

            <div class="list-box">
                <div class="list-circle-name">
                    <p>jk</p>
                </div>
                <div class="list-text">
                    <h4>joel malachie</h4>
                    <span class="date">pris le, 14-01, 05 : 17</span>
                </div>
            </div>

            <div class="list-box">
                <div class="list-circle-name">
                    <p>jd</p>
                </div>
                <div class="list-text">
                    <h4>John Doe</h4>
                    <span class="date">pris le, 14-01, 05 : 17</span>
                </div>
            </div>

            <div class="list-box">
                <div class="list-circle-name">
                    <p>ac</p>
                </div>
                <div class="list-text">
                    <h4>angular core</h4>
                    <span class="date">pris le, 14-01, 05 : 17</span>
                </div>
            </div>
        </div>

        <div class="graph">
            <div class="graph-back"></div>
        </div>
    </div>
</div>