<app-nav-left (wrapper)="wrapper($event)" [addActive]="addActive"></app-nav-left>

<div class="wrapper" [class.active]="isWrapper" (click)="closeAll()">
    <div class="header-responsive">
        <div class="logo">
            <h2><em>MDN<span> admin</span></em></h2>
        </div>

        <div class="toggle" (click)="toggle($event)">
            <span></span><span></span><span></span>
        </div>
    </div>

    <div class="wrapper-content">
        <app-search-bar (night)="night($event)"></app-search-bar>
        <div class="contents">
            <div class="modal" role="dialog" aria-modal="true" [class.active]="showModal" (click)="closeModal()">
                <div class="card-wrapper" (click)="stop($event)">

                    <!-- Loading -->
                    <!-- Loading -->
                    <div class="loading-table loading-modal" [class.active]="!isAdding">
                        <div>
                        </div>
                    </div>
                    <!-- Loading -->
                    <!-- Loading -->

                    <!-- Card Header Modal -->
                    <!-- Card Header Modal -->

                    <div class="card-header">
                        <h3>Patients</h3>
                        <span class="icon" (click)="closeModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                <path
                                    d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z" />
                            </svg>
                        </span>
                    </div>

                    <!-- Card Header Modal -->
                    <!-- Card Header Modal -->

                    <form [formGroup]="brandForm" class="card-form" autocomplete="off" id="Formperm">
                        <div class="card-title">
                            <h3>Ajouter un patient</h3>
                        </div>

                        <input type="hidden" id="id" formControlName="id">

                        <div class="group-form">
                            <div class="input-flex">
                                <div class="input">
                                    <label for="nom">Nom </label>
                                    <input type="text" id="nom" formControlName="nom" placeholder="Nom du patient"
                                        [class.error]="errors.nom">
                                    <div class="error" *ngIf="errors.nom">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.nom}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="prenom">Prénom </label>
                                    <input type="text" id="prenom" formControlName="prenom"
                                        placeholder="Prénom du patient" [class.error]="errors.prenom">
                                    <div class="error" *ngIf="errors.prenom">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.prenom}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="sexe">Sexe</label>
                                    <select id="sexe" formControlName="sexe" [class.error]="errors.sexe">
                                        <option value="0">Selectionnez une sexe</option>
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                                    <div class="error" *ngIf="errors.sexe">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.sexe}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="date">Date de naissance </label>
                                    <input type="date" id="date" formControlName="date_naiss"
                                        [class.error]="errors.date_naiss">
                                    <div class="error" *ngIf="errors.date_naiss">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.date_naiss}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="group-form">
                            <div class="input-flex">
                                <div class="input">
                                    <label for="lieu">Lieu de naissance </label>
                                    <input type="text" id="lieu" formControlName="lieu_naiss"
                                        [class.error]="errors.lieu_naiss">
                                    <div class="error" *ngIf="errors.lieu_naiss">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.lieu_naiss}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="pays_natal">Pays natal du patient</label>
                                    <select id="pays_natal" formControlName="pays_natal"
                                        [class.error]="errors.pays_natal">
                                        <option value="0">Selectionnez un pays</option>
                                        <option value="{{pay.id}}" *ngFor="let pay of pays">{{pay.name}}</option>
                                    </select>
                                    <div class="error" *ngIf="errors.pays_natal">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.pays_natal}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="category">Catégorie du patient</label>
                                    <select id="category" formControlName="category" [class.error]="errors.category"
                                        (change)="loadSociety()">
                                        <option value="0">Selectionnez une catégorie</option>
                                        <option value="{{category.id}}" *ngFor="let category of categories">
                                            {{category.libelle}}</option>
                                    </select>
                                    <div class="error" *ngIf="errors.category">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.category}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="society">Société du patient</label>
                                    <select id="society" formControlName="society" [class.error]="errors.society">
                                        <option value="0">Selectionnez une société</option>
                                        <option value="{{society.name}}" *ngFor="let society of societies">
                                            {{society.libelle}}</option>
                                    </select>
                                    <div class="error" *ngIf="errors.society">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.society}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="group-form">
                            <div class="input-flex">
                                <div class="input">
                                    <label for="dossier">Numéro du dossier </label>
                                    <input type="text" id="dossier" formControlName="num_dossier"
                                        [class.error]="errors.num_dossier">
                                    <div class="error" *ngIf="errors.num_dossier">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.num_dossier}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="archive">Numéro de la carte d'identité</label>
                                    <input type="text" id="archive" formControlName="num_carte"
                                        [class.error]="errors.num_carte">
                                    <div class="error" *ngIf="errors.num_carte">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.num_carte}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="langue">Langue</label>
                                    <select id="langue" formControlName="langue" [class.error]="errors.langue">
                                        <option value="0">Selectionnez une langue</option>
                                        <option value="Français">Français</option>
                                        <option value="Anglais">Anglais</option>
                                        <option value="Espagnol">Espagnol</option>
                                        <option value="Lingala">Lingala</option>
                                        <option value="Kinkongo">Kinkongo</option>
                                        <option value="Swahili">Swahili</option>
                                    </select>
                                    <div class="error" *ngIf="errors.langue">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.langue}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="docteur">Médecin traitant</label>
                                    <select id="docteur" formControlName="docteur" [class.error]="errors.docteur">
                                        <option value="0">Selectionnez un médecin</option>
                                        <option value="{{docteur.name}}" *ngFor="let docteur of docteurs">
                                            {{docteur.name}}
                                        </option>
                                    </select>
                                    <div class="error" *ngIf="errors.docteur">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.docteur}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="group-form">
                            <div class="input-flex">
                                <div class="input">
                                    <label for="etat">Etat civil</label>
                                    <input type="text" id="etat" formControlName="etat_civil"
                                        [class.error]="errors.etat_civil">
                                    <div class="error" *ngIf="errors.etat_civil">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.etat_civil}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="adresse">Adresse</label>
                                    <textarea type="text" id="adresse" formControlName="adresse"
                                        [class.error]="errors.adresse"></textarea>
                                    <div class="error" *ngIf="errors.adresse">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.adresse}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="boite">Boite postal</label>
                                    <input type="text" id="boite" formControlName="boite_postal"
                                        [class.error]="errors.boite_postal">
                                    <div class="error" *ngIf="errors.boite_postal">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.boite_postal}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="pays_residence">Pays de résidence</label>
                                    <select id="pays_residence" formControlName="pays_residence"
                                        [class.error]="errors.pays_residence">
                                        <option value="0">Selectionnez un pays</option>
                                        <option value="{{pay.id}}" *ngFor="let pay of pays">{{pay.name}}</option>
                                    </select>
                                    <div class="error" *ngIf="errors.pays_residence">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.pays_residence}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group-form">
                            <div class="input-flex">
                                <div class="input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" formControlName="email" [class.error]="errors.email">
                                    <div class="error" *ngIf="errors.email">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.email}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="telephone_fixe">Téléphone fixe</label>
                                    <input type="telephone_fixe" id="telephone_fixe" formControlName="telephone_fixe"
                                        [class.error]="errors.telephone_fixe">
                                    <div class="error" *ngIf="errors.telephone_fixe">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.telephone_fixe}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="telephone_mobile">Téléphone mobile</label>
                                    <input type="telephone_mobile" id="telephone_mobile"
                                        formControlName="telephone_mobile" [class.error]="errors.telephone_mobile">
                                    <div class="error" *ngIf="errors.telephone_mobile">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.telephone_mobile}}</span>
                                    </div>
                                </div>

                                <div class="input">
                                    <label for="profession">Proféssion</label>
                                    <input type="profession" id="profession" formControlName="profession"
                                        [class.error]="errors.profession">
                                    <div class="error" *ngIf="errors.profession">
                                        <span class="icon-attention"></span>
                                        <span class="title">{{errors.profession}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-btn">
                            <button type="submit" (click)="sauvegarder()" [disabled]="isAdding">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="btn-content pd-10">
                <button type="button" (click)="activeModal()">Ajouter un patient</button>
            </div>

            <div class="tableaux pd-10">
                <div class="loading-table" [class.active]="!isLoadindTable">
                    <div>
                    </div>
                </div>

                <div class="header-content">
                    <h2>Liste des patients</h2>

                    <div class="group-form">
                        <input type="text" name="nom" [(ngModel)]="nom" (ngModelChange)="search()"
                            placeholder="Rechercher par le nom">

                        <span class="icon-search"></span>
                    </div>
                </div>

                <div class="table">
                    <table class="">
                        <thead>
                            <th (click)="sort('id')">#ID <span class="icon-sort-number-up"></span></th>
                            <th (click)="sort('nom')">Nom <span class="icon-sort-name-up"></span></th>
                            <th (click)="sort('prenom')">Prenom <span class="icon-sort-name-up"></span></th>
                            <th (click)="sort('prenom')">Catégorie <span class="icon-sort-name-up"></span></th>
                            <th (click)="sort('prenom')">Societé <span class="icon-sort-name-up"></span></th>
                            <th (click)="sort('telephone')">Téléphone <span class="icon-sort-name-up"></span></th>
                            <th>Actions</th>
                        </thead>

                        <tbody>
                            <tr
                                *ngFor="let patient of patients | orderBy: key : reverse | paginate : {itemsPerPage:6,currentPage:p}">
                                <td>{{patient.id}}</td>
                                <td>
                                    {{patient.nom}}
                                </td>
                                <td>
                                    {{patient.prenom}}
                                </td>
                                <td>
                                    {{patient.category}}
                                </td>
                                <td>
                                    {{patient.society}}
                                </td>
                                <td>
                                    {{patient.telephone_mobile}}
                                </td>

                                <td>
                                    <button type="button" class="badge success" (click)="show(patient.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                            viewBox="0 0 512 512">
                                            <polygon
                                                points="358.62 129.28 86.49 402.08 70 442 109.92 425.51 382.72 153.38 358.62 129.28"
                                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:44px" />
                                            <path
                                                d="M413.07,74.84,401.28,86.62l24.1,24.1,11.79-11.79a16.51,16.51,0,0,0,0-23.34l-.75-.75A16.51,16.51,0,0,0,413.07,74.84Z"
                                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:44px" />
                                        </svg>
                                    </button>

                                    <button type="button" class="badge danger" (click)="delete(patient.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                            viewBox="0 0 512 512">
                                            <rect x="32" y="48" width="448" height="80" rx="32" ry="32" />
                                            <path
                                                d="M74.45,160a8,8,0,0,0-8,8.83L92.76,421.39a1.5,1.5,0,0,0,0,.22A48,48,0,0,0,140.45,464H371.54a48,48,0,0,0,47.67-42.39l0-.21,26.27-252.57a8,8,0,0,0-8-8.83ZM323.31,340.69a16,16,0,1,1-22.63,22.62L256,318.63l-44.69,44.68a16,16,0,0,1-22.63-22.62L233.37,296l-44.69-44.69a16,16,0,0,1,22.63-22.62L256,273.37l44.68-44.68a16,16,0,0,1,22.63,22.62L278.62,296Z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <pagination-controls (pageChange)=" p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>